@media screen and (max-width: 900px)
{
    *{
        font-family: sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    :root
    {
        font-size: 16px;
        --first-color: #222222;
        --first-first-color: #494949;
        --second-color:#141414;
        --third-color: #DF6DE1;
        --third-third-color: #A87FA9;

    }
}

